/* Custom properties and resets */
/* #region */

:root {
  --orange-600: hsl(22, 89%, 52%);
  --orange-300: hsl(22, 100%, 69%);

  --blue-600: hsl(220, 50%, 17%);
  --blue-400: hsl(221, 23%, 58%);

  --gray-200: hsl(198, 28%, 93%);

  --white: hsl(0, 0%, 100%);
}

/* Remove default margins and padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove default button styling */
button {
  all: unset;
  cursor: pointer;
}

img {
  display: block;
}

/* #endregion */

/* Typography */
/* #region */

body {
  margin-top: 24px;
  margin-inline: 24px;

  color: var(--blue-400);
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

h1 {
  color: var(--blue-600);
  font-size: 48px;
  line-height: 1.0;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  color: var(--blue-600);
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  color: var(--blue-600);
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

/* #endregion */

/* General and mobile styling */
/* #region */

body {
  /* Makes it so that decorative rectangles and overflowing images don't trigger horizontal scrollbar; all actual content will stay visible */
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 64px;
}
.header img {
  height: 40px;
}
.header__cta {
  padding-inline: 14px;
  padding-block: 12px;

  border-radius: 8px;

  background-color: var(--gray-200);
  
  color: var(--blue-600);
  font-weight: 700;
  text-transform: uppercase;
}
.header__cta:hover,
.header__cta:focus {
  background-color: var(--blue-600);

  color: var(--white);
}


/* Intro */
.intro {
  margin-bottom: 64px;

  max-width: 36ch;

  display: flex;
  flex-direction: column;
}
.intro__header {
  margin-bottom: 32px;
}
.intro__text {
  margin-bottom: 32px;
}
.intro__pre-order {
  display: flex;
  align-items: center;
}
.intro__cta {
  margin-right: 32px;

  padding-inline: 14px;
  padding-block: 12px;

  border-radius: 8px;

  background-color: var(--orange-600);
  
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}
.intro__cta:hover,
.intro__cta:focus {
  background-color: var(--orange-300);
}
.intro__date {
  text-transform: uppercase;
  font-weight: 700;
}


/* Images */
.images__top {
  /* Makes image go to right-hand side of screen */
  margin-left: auto;
  margin-right: -48px;
  margin-bottom: 24px;

  width: 372px;
  height: 331px;

  background-image: url('assets/mobile/image-keyboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 20px;
}
.bottom-images {
  margin-bottom: 72px;

  display: flex;
  gap: 24px;
}
.images__orange {
  margin-left: -48px;

  width: 129px;
  height: 193px;

  background-image: url('assets/mobile/image-phone-and-keyboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--orange-600);
  background-blend-mode: multiply;

  border-radius: 20px;
}
.images__side {
  width: 220px;
  height: 193px;

  background-image: url('assets/mobile/image-glass-and-keyboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 20px;
}


/* Description */
.desc {
  margin-bottom: 110px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.desc__header {
  margin-bottom: 24px;
}
.desc__text {
  max-width: 30ch;
}


/* Features */
.features {
  margin-bottom: 96px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 30ch);
  justify-content: center;
  gap: 64px 64px;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.feature__logo-bg {
  margin-bottom: 48px;

  width: 65px;
  height: 65px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--orange-600);
  border-radius: 16px;
}
.feature__header {
  margin-bottom: 24px;
}


/* Footer */
.footer {
  margin-bottom: 50px;

  text-align: center;
}
.footer > span {
  font-weight: 700;
}

/* #endregion */

/* Media queries */
/* #region */

/* Separate media query to handle feature grid, as we don't want to have 3 columns */
/* By 700 px, the grid should have already gone to 2 columns, keep it at this until there's enough room for 4 columns, at which point auto-fill will place 4 columns */
@media only screen and (min-width: 700px) {
  .features {
    grid-template-columns: repeat(2, 30ch);
  }
}
@media only screen and (min-width: 1100px) {
  .features {
    grid-template-columns: repeat(auto-fill, 28ch);
    gap: 30px;
  }
}

/* Tablet */
/* #region */

@media only screen and (min-width: 768px) {
  body {
    margin-inline: 40px;
    margin-top: 40px;
  }

  /* Header */
  .header__cta {
    padding-inline: 24px;
    padding-block: 16px;
  
    border-radius: 8px;
  
    background-color: var(--gray-200);
    
    color: var(--blue-600);
    font-weight: 700;
    text-transform: uppercase;
  }

  
  /* Intro and top image*/
  /* Brig intro in line with top image */
  .top-content {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    gap: 72px;
  }
  .intro {
    /* So button text stays on one line */
    max-width: 40ch;
  }
  .intro__header {
    margin-bottom: 32px;
  }
  .intro__text {
    margin-bottom: 36px;
  }
  .intro__cta {
    margin-right: 36px;

    padding-inline: 24px;
    padding-block: 16px;
  }
  .images__top {
    margin-right: -196px;
    margin-bottom: 24px;
  
    width: 478px;
    height: 425px;
  
    background-image: url('assets/tablet/image-keyboard.jpg');
  }

  /* Bottom images */
  .bottom-images {
    margin-bottom: 72px;
    
    gap: 32px;
  }
  .images__orange {
    /* Image no longer going off screen, but instead in line with body margin */
    margin-left: unset;
    width: 214px;
    height: 320px;

    background-image: url('assets/tablet/image-phone-and-keyboard.jpg');
  }
  .images__side {
    width: 445px;
    height: 320px;
  
    background-image: url('assets/tablet/image-glass-and-keyboard.jpg');
  
    border-radius: 20px;
  }

  /* Description */
  .desc {
    display: flex;
    flex-direction: row;
    gap: clamp(36px, 20%, 100px);

    text-align: left;
  }
  .desc__header {
    max-width: 20ch;
  }
  .desc__text {
    max-width: 40ch;
  }

  /* Features */
  .features {
    margin-bottom: 144px;
  }
  .feature {
    align-items: flex-start;

    text-align: left;
  }
  .feature__logo-bg {
    margin-bottom: 40px;
  }
  .feature__header {
    margin-bottom: 24px;
  }
}

/* #endregion */

/* Desktop */
/* #region */

@media only screen and (min-width: 1150px) {
  body {
    /* Margin now automatic */
    margin-inline: unset;
    margin-top: 55px;

    max-width: 1110px;

    margin-inline: auto;
  }

  h1 {
    font-size: 56px;
  }

  /* Header */
  .header {
    margin-bottom: 84px;
  }


  /* Intro and top image*/
  /* Brig intro in line with top image */
  .top-content {
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    gap: 125px;
  }
  .images__top {
    /* Now in line with right margin of content */
    margin-right: unset;
    margin-bottom: unset;

    position: relative;
    width: 540px;
    height: 480px;
  
    background-image: url('assets/desktop/image-keyboard.jpg');
  }
  .images__top::after {
    left: calc(100% + 36px);

    position: absolute;
    content: '';
    
    width: 255px;
    height: 240px;

    border-radius: 20px;
    background-color: var(--gray-200);
  }
  .intro {
    max-width: 45ch;

    font-size: 18px;
  }


  /* Bottom images and description */
  /* #region */

  .bottom-images-desc {
    margin-bottom: 168px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /* Bottom images */
  .bottom-images {
    margin-bottom: unset;

    display: inline-flex;
    
    gap: 32px;
  }
  .images__orange {
    /* Image no longer going off screen, but instead in line with body margin */
    margin-left: unset;

    position: relative;
    width: 255px;
    height: 480px;

    background-image: url('assets/desktop/image-phone-and-keyboard.jpg');
  }
  .images__orange::before {
    bottom: 0;
    left: calc(-100% - 36px);

    position: absolute;
    content: '';
    
    width: 255px;
    height: 240px;

    border-radius: 20px;
    background-color: var(--gray-200);
  }
  .images__side {
    width: 445px;
    height: 480px;
  
    background-image: url('assets/desktop/image-glass-and-keyboard.jpg');
  
    border-radius: 20px;
  }


  /* Description */
  .desc {
    margin-bottom: unset;

    /* Gets same line lengths as design */
    max-width: 29ch;

    display: block;
  }

  /* #endregion */
}

/* #endregion */

/* #endregion */